<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/element-ui.js"></script>
    <script src="javascripts/axios.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;
        }
    </style>
    <link rel="stylesheet" href="stylesheets/element-ui.css"/>
</head>

<body style="height: 100%;">
<div style="height: 100%;position: relative;" id="app">
    <el-menu theme="dark" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1"><a href="/scene/list.html">返回</a></el-menu-item>
    </el-menu>

    <div style="position: absolute;top: 60px;bottom: 0;left: 0;right: 320px;overflow: auto;user-select:none;border-right: solid 2px #324157;">
        <canvas id="canvas" width="100" height="100" @click="click($event)" @dblclick="dblclick($event)"></canvas>
    </div>

    <div style="position: absolute;top: 60px;bottom: 50px;right: 0;width: 300px;padding: 10px;overflow-y: auto;">
        <el-collapse v-model="activeIndex" accordion>
            <el-collapse-item title="基本信息" name="1">
                <el-form label-width="80px">
                    <el-form-item label="地点名称">
                        <el-input v-model="current.name"></el-input>
                    </el-form-item>
                    <!--<el-form-item label="背景色">-->
                        <!--<el-color-picker v-model="current.color" show-alpha></el-color-picker>-->
                    <!--</el-form-item>-->
                    <el-form-item label="描述">
                        <el-input type="textarea" :rows="5" v-model="current.description"></el-input>
                    </el-form-item>
                </el-form>
            </el-collapse-item>
            <el-collapse-item title="NPC" name="2">
                <div>
                    <el-button type="text" v-for="n in current.npcs" @click="openNpcSetting(n.id)">{{n.name}}
                    </el-button>
                </div>

                <div style="text-align: center;">
                    <el-button type="primary" @click="visible.npcSetting = true">添加</el-button>
                </div>
                <el-dialog title="NPC设置窗口" :visible.sync="visible.npcSetting" size="small">
                    <template>
                        <el-tabs active-name="view">
                            <el-tab-pane label="基本信息" name="base">
                                <el-input v-model="npc.name" placeholder="名字" icon="search"
                                          :on-icon-click="handleSelect">
                                </el-input>
                                <el-input type="textarea" :rows="4" placeholder="描述" v-model="npc.desc">
                                </el-input>
                            </el-tab-pane>
                            <el-tab-pane label="交易" name="deal">
                                <el-row :gutter="24" v-for="t in npc.talk" style="margin-bottom: 5px;">
                                    <el-col :span="24">
                                        <el-input placeholder="对话" v-model="t.word">
                                        </el-input>
                                    </el-col>
                                </el-row>
                                <el-button type="primary" @click="addNpcTalk">新增对话</el-button>
                            </el-tab-pane>
                            <el-tab-pane label="战斗" name="fight"></el-tab-pane>
                            <el-tab-pane label="任务" name="task"></el-tab-pane>
                        </el-tabs>
                    </template>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="visible.npcSetting = false">取消</el-button>
                        <el-button @click="saveNpc">保存</el-button>
                        <el-button type="primary" @click="addNpcToCell">添加</el-button>
                    </div>
                </el-dialog>
                <el-dialog title="NPC选择列表" :visible.sync="visible.npcList" size="small" @open="npcsDialogOpen">
                    <template>
                        <el-table :data="npcs" border style="width: 100%">
                            <el-table-column type="selection" width="55"></el-table-column>
                            <el-table-column prop="name" label="名称"></el-table-column>
                        </el-table>
                    </template>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="visible.npcList = false">取消</el-button>
                        <el-button type="primary" @click="selectNpc">选择</el-button>
                    </div>
                </el-dialog>
            </el-collapse-item>
            <el-collapse-item title="物品" name="3">
                <div></div>
            </el-collapse-item>
            <el-collapse-item title="事件" name="4">
                <div></div>
            </el-collapse-item>
        </el-collapse>
    </div>
    <el-button type="primary"
               v-loading.fullscreen.lock="loading"
               element-loading-text="正在保存..."
               style="position: absolute;bottom: 10px;right: 10px;width: 300px;" @click="save">保存
    </el-button>
</div>
<script src="javascripts/scene-edit.js"></script>
</body>
</html>